# Airplane Safety Data Exploration

In [1]:
#Importing Pandas
import pandas as pd

In [2]:
#Assigning Dataframe
df = pd.read_csv('../data/Aviation_Data.csv')

/var/folders/wq/4pbqhwns4pg_cmgzb1t39xdr0000gn/T/ipykernel_16656/1404067305.py:2: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/Aviation_Data.csv')

In [3]:
#Beginning of data exploration, look at null counts and data types.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [4]:
#Exploring aircraft category values, need to get rid of non airplane data
df['Aircraft.Category'].value_counts()

Aircraft.Category
Airplane             27617
Helicopter            3440
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
Rocket                   1
ULTR                     1
Name: count, dtype: int64

In [5]:
#Looking at summary statistics for numeric variables, the fact that the quartiles for all 3 injury categories is 0 means that most of the 
#events in the data set resulted in no injuries. The mean of total uninjured category being so much smaller than the standard deviation of
#the uninjured category implies that there is a large amount of small planes and a small amount of large planes in the dataset. 
#This implication is backed up by the fact that the mean number of engines is 1.15 engines and the 75th percentile of planes have 1 engine.
df.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [6]:
#Checking latitude values, seems as though there is inconsistent formatting for these values, could either reformat or drop
df['Latitude'].value_counts()

Latitude
332739N      19
335219N      18
334118N      17
32.815556    17
324934N      16
             ..
343255N       1
345911N       1
393035N       1
039413N       1
373829N       1
Name: count, Length: 25592, dtype: int64

In [7]:
#Checking aircraft damage values, found key for value types at 49 CFR 830.2.
df['Aircraft.damage'].value_counts()

Aircraft.damage
Substantial    64148
Destroyed      18623
Minor           2805
Unknown          119
Name: count, dtype: int64

In [8]:
#Checking each column for any NaN values, need to address columns with large NaN counts either with removal or imputation
df.isna().sum()

Event.Id                   1459
Investigation.Type            0
Accident.Number            1459
Event.Date                 1459
Location                   1511
Country                    1685
Latitude                  55966
Longitude                 55975
Airport.Code              40216
Airport.Name              37644
Injury.Severity            2459
Aircraft.damage            4653
Aircraft.Category         58061
Registration.Number        2841
Make                       1522
Model                      1551
Amateur.Built              1561
Number.of.Engines          7543
Engine.Type                8555
FAR.Description           58325
Schedule                  77766
Purpose.of.flight          7651
Air.carrier               73700
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
Weather.Condition          5951
Broad.phase.of.flight     28624
Report.Status              7843
Publication.Date          16689
dtype: int64

In [9]:
#Most Important Columns need NAN cleaning
#Total.Fatal.Injuries, Total.Serious.Injuries, Total.Minor.Injuries, Total.Uninjured,

In [10]:
#Drop rows first, then columns
#DATA Cleaning
# Change Injuiry.Severity, Aircraft.damage
#rename Country column to state
#Delete NANs Event.ID, Accident Number, Event Date (look closer, think they are all the same NANs), 
#Delete rows in Amateur.Built with values of yes
#columns to drop: 'Latitude', 'Longitude', 'Airport.Code', 'Airport.Name', 'Accident.Number', 'Registration.Number', 'Country', 'Publication Date', 'Registration Number', 'Air Carrier', 'Report Status'
#Dropping Latitude and Longitude because we are not looking at location as a determinant of safety
#Dropping Airport code and airport because we are not using location as a determinant of safety
#Dropping accident number and registration number because we only need Event ID to index off of
#Dropping Country as they are all United States
#Dropping Publication date and report status as they are purely metadata and say nothing about plane safety.
#Dropped air carrier as we are making our reccomendation to another company, therefore air carrier is immaterial.

In [11]:
columns_to_drop = ['Airport.Code', 'Airport.Name', 'Accident.Number', 'Registration.Number', 'Country', 
                   'Publication.Date', 'Registration.Number', 'Air.carrier']
df_columns_dropped = df.drop(columns_to_drop, axis = 1)

In [12]:
#This code drops all amateur built built planes from the dataset, then drops the amateur build column as it should only contain professionally
#built planes, then checks the new dataframe to make sure that the column has been dropped
df_columns_dropped_no_amatuer = df_columns_dropped[(df_columns_dropped['Amateur.Built'] == 'No')]


df_columns_dropped_no_amatuer = df_columns_dropped_no_amatuer.drop(['Amateur.Built'], axis = 1)
df_columns_dropped_no_amatuer.info()

<class 'pandas.core.frame.DataFrame'>
Index: 80312 entries, 0 to 90347
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                80312 non-null  object
 1   Investigation.Type      80312 non-null  object
 2   Event.Date              80312 non-null  object
 3   Location                80265 non-null  object
 4   Latitude                30170 non-null  object
 5   Longitude               30164 non-null  object
 6   Injury.Severity         79313 non-null  object
 7   Aircraft.damage         77165 non-null  object
 8   Aircraft.Category       28721 non-null  object
 9   Make                    80266 non-null  object
 10  Model                   80245 non-null  object
 11  Number.of.Engines       74606 non-null  float64
 12  Engine.Type             73630 non-null  object
 13  FAR.Description         28476 non-null  object
 14  Schedule                12275 non-null  object
 15  Purpose.of.flight       74242 non-null  object
 16  Total.Fatal.Injuries    70155 non-null  float64
 17  Total.Serious.Injuries  69228 non-null  float64
 18  Total.Minor.Injuries    69755 non-null  float64
 19  Total.Uninjured         75425 non-null  float64
 20  Weather.Condition       75960 non-null  object
 21  Broad.phase.of.flight   56146 non-null  object
 22  Report.Status           74276 non-null  object
dtypes: float64(5), object(18)
memory usage: 14.7+ MB

In [13]:
#New Metrics
#Idea for metrics: looking at a percentage of passengers that remain uninjured: summing all injured and uninjured and using that to divide to
#count of uninjured
#metric Idea: give a severity score for each type of injury and then give a passenger safety score

In [14]:
#Cleaning NANS from injury totals by replacing with 0, can assume that all injuries would be documented as that is one of the primary 
#purposes of the investigation, then checking to see if any NaNs remain in injury columns

df_columns_dropped_no_amatuer[['Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured']] = df_columns_dropped_no_amatuer[['Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured']].fillna(0)
df_columns_dropped_no_amatuer.isna().sum()

Event.Id                      0
Investigation.Type            0
Event.Date                    0
Location                     47
Latitude                  50142
Longitude                 50148
Injury.Severity             999
Aircraft.damage            3147
Aircraft.Category         51591
Make                         46
Model                        67
Number.of.Engines          5706
Engine.Type                6682
FAR.Description           51836
Schedule                  68037
Purpose.of.flight          6070
Total.Fatal.Injuries          0
Total.Serious.Injuries        0
Total.Minor.Injuries          0
Total.Uninjured               0
Weather.Condition          4352
Broad.phase.of.flight     24166
Report.Status              6036
dtype: int64

In [15]:
## Adding new column with total injuries (total fatal, serious and minor injuiries) and percentage of uninjuired

df_columns_dropped_no_amatuer['Num.Passenger'] = (df_columns_dropped_no_amatuer['Total.Fatal.Injuries'] + 
                                                  df_columns_dropped_no_amatuer['Total.Serious.Injuries'] + 
                                                  df_columns_dropped_no_amatuer['Total.Minor.Injuries'] + 
                                                  df_columns_dropped_no_amatuer['Total.Uninjured'])

df_columns_dropped_no_amatuer['Total.Injured'] = (df_columns_dropped_no_amatuer['Total.Fatal.Injuries'] + 
                                                  df_columns_dropped_no_amatuer['Total.Serious.Injuries'] + 
                                                  df_columns_dropped_no_amatuer['Total.Minor.Injuries'])
                                                 

df_columns_dropped_no_amatuer['Percent.Serious.and.Fatal'] = ((df_columns_dropped_no_amatuer['Total.Fatal.Injuries'] + 
                                                              df_columns_dropped_no_amatuer['Total.Serious.Injuries'])/
                                                              df_columns_dropped_no_amatuer['Num.Passenger'])*100


df_columns_dropped_no_amatuer['Percent.Uninjured'] = (df_columns_dropped_no_amatuer['Total.Uninjured']/
                                                        df_columns_dropped_no_amatuer['Num.Passenger'])* 100
df_columns_dropped_no_amatuer['Percent.Uninjured'].value_counts()

Percent.Uninjured
100.000000    43870
0.000000      29430
50.000000      2323
66.666667       711
33.333333       459
              ...
98.219585         1
85.470085         1
91.304348         1
88.709677         1
97.765363         1
Name: count, Length: 586, dtype: int64

In [16]:
#checking NaN counts again
df_columns_dropped_no_amatuer.isna().sum()

Event.Id                         0
Investigation.Type               0
Event.Date                       0
Location                        47
Latitude                     50142
Longitude                    50148
Injury.Severity                999
Aircraft.damage               3147
Aircraft.Category            51591
Make                            46
Model                           67
Number.of.Engines             5706
Engine.Type                   6682
FAR.Description              51836
Schedule                     68037
Purpose.of.flight             6070
Total.Fatal.Injuries             0
Total.Serious.Injuries           0
Total.Minor.Injuries             0
Total.Uninjured                  0
Weather.Condition             4352
Broad.phase.of.flight        24166
Report.Status                 6036
Num.Passenger                    0
Total.Injured                    0
Percent.Serious.and.Fatal     1259
Percent.Uninjured             1259
dtype: int64

In [17]:
#drop anything thats not a plane "Aircraft category', we are assuming all NaNs are airplanes because airplane is the mode by a wide margin 
df_columns_dropped_no_amatuer.isna().sum()
df_columns_dropped_no_amatuer['Aircraft.Category'].value_counts()
df_trimmed = df_columns_dropped_no_amatuer[(df_columns_dropped_no_amatuer['Aircraft.Category'] == 'Airplane')]

In [18]:
#Dropping another round of columns
#Dropping aircraft category because it only contains airplanes and NaNs which we assume to be airplanes
#Dropping schedule and FAR description as these are mostly legal jargon relating to the jurisdiction and authority that the plane is flying under
columns_to_drop_pt2 = ['Aircraft.Category', 'Schedule', 'FAR.Description']
df_trimmed = df_trimmed.drop(columns_to_drop_pt2, axis = 1)

In [19]:
#drop all events before 1982, there were only a handful of cases recorded before 1982 and that data would be old and outdated, planes are much 
#different now and safety features and regulations are quite different
df_trimmed = df_trimmed.drop(df_trimmed.index[0:7])
df_trimmed

,Event.Id,Investigation.Type,Event.Date,Location,Latitude,Longitude,Injury.Severity,Aircraft.damage,Make,Model,...,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Num.Passenger,Total.Injured,Percent.Serious.and.Fatal,Percent.Uninjured
17,20020917X01656,Accident,1982-01-02,"SKWENTA, AK",NaN,NaN,Fatal(3),Destroyed,Cessna,180,...,0.0,0.0,0.0,VMC,Unknown,Probable Cause,3.0,3.0,100.0,0.0
18,20020917X02481,Accident,1982-01-02,"GALETON, PA",NaN,NaN,Non-Fatal,Substantial,Cessna,172,...,0.0,0.0,1.0,VMC,Taxi,Probable Cause,1.0,0.0,0.0,100.0
20,20020917X01894,Accident,1982-01-02,"YPSILANTI, MI",NaN,NaN,Non-Fatal,Substantial,Cessna,152,...,0.0,0.0,1.0,VMC,Takeoff,Probable Cause,1.0,0.0,0.0,100.0
21,20020917X01776,Accident,1982-01-02,"CHARLOTTE, MI",NaN,NaN,Non-Fatal,Substantial,Cessna,150L,...,0.0,0.0,2.0,VMC,Approach,Probable Cause,2.0,0.0,0.0,100.0
23,20020917X02333,Incident,1982-01-03,"VAN NUYS, CA",NaN,NaN,Incident,Minor,Piper,PA-24-180,...,0.0,0.0,1.0,VMC,Approach,Probable Cause,1.0,0.0,0.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90328,20221213106455,Accident,2022-12-13,"Lewistown, MT",047257N,0109280W,Non-Fatal,Substantial,PIPER,PA42,...,0.0,0.0,1.0,NaN,NaN,NaN,1.0,0.0,0.0,100.0
90332,20221215106463,Accident,2022-12-14,"San Juan, PR",182724N,0066554W,Non-Fatal,Substantial,CIRRUS DESIGN CORP,SR22,...,0.0,0.0,1.0,VMC,NaN,NaN,1.0,0.0,0.0,100.0
90335,20221219106475,Accident,2022-12-15,"Wichita, KS",373829N,0972635W,Non-Fatal,Substantial,SWEARINGEN,SA226TC,...,0.0,0.0,1.0,NaN,NaN,NaN,1.0,0.0,0.0,100.0
90336,20221219106470,Accident,2022-12-16,"Brooksville, FL",282825N,0822719W,Minor,Substantial,CESSNA,R172K,...,1.0,0.0,0.0,VMC,NaN,NaN,1.0,1.0,100.0,0.0
90345,20221227106497,Accident,2022-12-26,"Payson, AZ",341525N,1112021W,Non-Fatal,Substantial,AMERICAN CHAMPION AIRCRAFT,8GCBC,...,0.0,0.0,1.0,VMC,NaN,NaN,1.0,0.0,0.0,100.0

In [20]:
#cleaning Make and Model data, unifying to one variable called Make.Model, dropping model as that info is now contained in Make.Model
df_trimmed['Make'] = df_trimmed['Make'].str.lower()
df_trimmed ['Model']= df_trimmed['Model'].str.upper()
df_trimmed['Make.Model'] = df_trimmed['Make'] + df_trimmed['Model']
df_trimmed['Make.Model']
df_trimmed = df_trimmed.drop(['Model'], axis = 1)
df_trimmed.info()

#dropping flights with no passenger information

df_trimmed = df_trimmed[df_trimmed['Num.Passenger']>=1]
df_trimmed.isna().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 24410 entries, 17 to 90345
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Event.Id                   24410 non-null  object
 1   Investigation.Type         24410 non-null  object
 2   Event.Date                 24410 non-null  object
 3   Location                   24404 non-null  object
 4   Latitude                   19170 non-null  object
 5   Longitude                  19164 non-null  object
 6   Injury.Severity            23597 non-null  object
 7   Aircraft.damage            23140 non-null  object
 8   Make                       24407 non-null  object
 9   Number.of.Engines          21859 non-null  float64
 10  Engine.Type                20454 non-null  object
 11  Purpose.of.flight          20728 non-null  object
 12  Total.Fatal.Injuries       24410 non-null  float64
 13  Total.Serious.Injuries     24410 non-null  float64
 14  Total.Minor.Injuries       24410 non-null  float64
 15  Total.Uninjured            24410 non-null  float64
 16  Weather.Condition          21431 non-null  object
 17  Broad.phase.of.flight      5789 non-null   object
 18  Report.Status              19747 non-null  object
 19  Num.Passenger              24410 non-null  float64
 20  Total.Injured              24410 non-null  float64
 21  Percent.Serious.and.Fatal  23506 non-null  float64
 22  Percent.Uninjured          23506 non-null  float64
 23  Make.Model                 24391 non-null  object
dtypes: float64(9), object(15)
memory usage: 4.7+ MB

Event.Id                         0
Investigation.Type               0
Event.Date                       0
Location                         5
Latitude                      4557
Longitude                     4563
Injury.Severity                  0
Aircraft.damage                830
Make                             2
Number.of.Engines             1956
Engine.Type                   3295
Purpose.of.flight             2862
Total.Fatal.Injuries             0
Total.Serious.Injuries           0
Total.Minor.Injuries             0
Total.Uninjured                  0
Weather.Condition             2199
Broad.phase.of.flight        17720
Report.Status                 3910
Num.Passenger                    0
Total.Injured                    0
Percent.Serious.and.Fatal        0
Percent.Uninjured                0
Make.Model                      15
dtype: int64

In [21]:
#dropping Models with less then 30 accidents


models_to_keep = list(df_trimmed['Make.Model'].value_counts().index)[:140]

df_trimmed = df_trimmed.loc[df_trimmed['Make.Model'].isin(models_to_keep)]

df_trimmed['Make.Model'].value_counts()

Make.Model
cessna172         854
cessna152         444
cessna182         341
cessna172N        311
cessna172S        272
                 ...
piperPA 28-180     30
piperPA25          30
cessna421B         30
cessna550          30
piperPA 28-140     30
Name: count, Length: 140, dtype: int64

In [22]:
#Makes Max capacity column as a copy of make and model, then replaces the name of each make and model in max capacity with an int
#that contains the max capacity. The information for max capacity by plane is available at Globalair.com and Planephd.com
df_trimmed['Max.Capacity'] = df_trimmed['Make.Model']
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna140', 2)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('bellanca17-30A', 5)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna180', 6)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna172', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna152', 3)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna150L', 2)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('bellanca7GCBC', 3)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna182', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA-28-161', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA-34-200T', 7)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA-28R-200', 5)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna206', 6)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA-22', 5)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA-24-250', 5)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessnaTR182', 6)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessnaA185F', 6)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('beech35', 5)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna210', 6)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('beechV35', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna172M', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA-28-140', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna172N', 5)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessnaP210N', 6)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna182A', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA-23-250', 7)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessnaU206', 6)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA-31-350', 10)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessnaT210N', 6)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna150M', 2)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna182P', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna150', 2)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna170B', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('beechC23, 5')
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA-28-180', 5)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('mooneyM20F', 6)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna177B', 5)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna177RG', 5)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna401B', 8)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessnaR172K', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('navionA', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('beech19', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA-24-180', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('grummanAA-5B', 5)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna414A',8)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('beechC23', 5)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna150H', 2)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna340A', 6)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA-38-112', 2)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('beech58', 6)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA-28-235', 5)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna207', 6)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('mooneyM20C', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('grummanG-164A', 1)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA-32-300', 7)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna172RG', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna177', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessnaA188B', 1)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna172H', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA-32-260', 6)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('mooneyM20J', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('aeronca7AC', 3)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna172P', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('beech36', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('bellanca7ECA', 3)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna150G', 2)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessnaU206G', 6)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna150J', 2)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA-28', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA-32R-300', 6)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('taylorcraftBC12-D', 3)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA-28-181', 5)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('beech200', 8)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna310R', 6)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna185', 6)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna310', 5)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna172K', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna421B', 10)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA-18', 2)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA-28-151', 5)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('beechA36', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna172L', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA-22-150', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna421C', 8)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA-20', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('aeronca11AC',3)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna170', 6)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessnaT210M', 6)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('mooneyM20E', 5)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA-30', 5)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('beechV35B', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('beechF33A', 5)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna120', 3)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA-18-150', 3)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperJ3C-65', 2)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna180J', 6)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna172F', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna175', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna150F', 2)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA-44-180', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessnaT210L', 6)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA-25-235', 1)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA-22-160', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna170A', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('luscombe8A', 2)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessnaA188', 1)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA-12', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna195', 6)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna182Q', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessnaR182', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna180H', 6)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('champion7ECA', 3)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('stinson108', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessnaA185', 7)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessnaT210', 6)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('boeing747', 539)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna208', 10)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna208B', 10)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna550', 8)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('grummanG164', 1)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('boeing767', 292)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('boeing737', 126)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('boeing777', 442)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna172S', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('boeingA75N1(PT17)', 3)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna172R', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessna182T', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperJ3C', 2)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessnaT182T', 5)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cessnaT206H', 6)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cirrusSR22', 5)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA 18-150', 2)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA 28-140', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cirrus design corpSR20', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('cirrus design corpSR22', 5)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA32', 7)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA28', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA46', 6)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA28R', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('luscombe8', 2)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('air tractorAT502', 2)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA32R', 6)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA22', 5)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA34', 7)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA18', 2)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA24', 5)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA25', 2)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA 28-180', 4)
df_trimmed['Max.Capacity'] = df_trimmed['Max.Capacity'].replace('piperPA 12', 4)

In [23]:
#this code is for adding max capacity data to make sure that there are no more make and model names in max capacity
df_trimmed['Max.Capacity'].unique()

array([  6,   4,   3,   2,   7,   5,  10,   1,   8, 539, 292, 126, 442])

In [24]:
#Grouping by model to find the models with the highest percent of uninjured passengers when an event takes place
#df_trimmed = pd.read_csv('data/final_data.csv')

make_model_mean_percentuninj = df_trimmed.pivot_table(index = ['Make.Model'], values = ['Percent.Uninjured', 'Percent.Serious.and.Fatal', 'Max.Capacity'], aggfunc = 'mean')

make_model_mean_percentuninj.sort_values(by = 'Percent.Uninjured', inplace = True)

list_of_models = list(df_trimmed['Make.Model'].value_counts().index)
list_of_counts_per_model = list(df_trimmed['Make.Model'].value_counts().values)

dict_model_count = dict(zip(list_of_models, list_of_counts_per_model))
dict_model_count
make_model_mean_percentuninj = make_model_mean_percentuninj.reindex(list_of_models)
make_model_mean_percentuninj['Counts.Per.Model'] = list_of_counts_per_model


make_model_mean_percentuninj

,Max.Capacity,Percent.Serious.and.Fatal,Percent.Uninjured,Counts.Per.Model
Make.Model,,,,
cessna172,4,25.096279,67.526672,854
cessna152,3,16.535285,76.839339,444
cessna182,4,34.516129,57.424242,341
cessna172N,5,23.633441,67.111468,311
cessna172S,4,14.889706,80.575980,272
...,...,...,...,...
piperPA 28-180,4,35.833333,54.166667,30
piperPA25,2,86.666667,13.333333,30
cessna421B,10,39.277778,48.500000,30
cessna550,8,29.060606,68.939394,30
piperPA 28-140,4,36.666667,43.333333,30

In [25]:
df_trimmed['Engine.Type'].value_counts()

Engine.Type
Reciprocating    9616
Turbo Prop        197
Turbo Fan          79
Unknown            15
Turbo Jet           6
Turbo Shaft         3
UNK                 1
Name: count, dtype: int64

In [26]:
#organizing by most data to least data

make_model_mean_percentuninj = make_model_mean_percentuninj.reindex(list_of_models)

list_perc_uninj = list(make_model_mean_percentuninj['Percent.Uninjured'])

list_perc_uninj
perc_uninj_by_model = dict(zip(list_of_models, list_perc_uninj))
perc_uninj_by_model

{'cessna172': 67.52667187093417,
 'cessna152': 76.83933933933933,
 'cessna182': 57.42424242424243,
 'cessna172N': 67.11146838156485,
 'cessna172S': 80.57598039215686,
 'piperPA28': 56.92883895131086,
 'cessna150': 57.09561602418746,
 'cessna180': 82.1237693389592,
 'piperPA-28-140': 54.29403202328967,
 'cessna172M': 60.60956790123456,
 'boeing737': 88.85440754849549,
 'piperPA-18-150': 76.53061224489795,
 'beechA36': 45.76190476190476,
 'cessna172P': 79.0160642570281,
 'cirrus design corpSR22': 49.21296296296296,
 'piperPA-28-161': 66.9047619047619,
 'cessna140': 71.37404580152672,
 'piperPA-28-180': 52.97157622739018,
 'cessna170B': 76.70765027322405,
 'cessna210': 57.01754385964912,
 'piperPA-28-181': 71.18618618618619,
 'piperPA-18': 75.0,
 'cessna172R': 80.99688473520249,
 'mooneyM20J': 52.460317460317455,
 'cessnaA185F': 82.21153846153847,
 'cessna182P': 58.13725490196079,
 'aeronca7AC': 60.0,
 'cessna150M': 65.97938144329896,
 'cessna150L': 58.854166666666664,
 'cessna177': 60.526315789473685,
 'cirrusSR22': 50.88652482269503,
 'piperPA18': 78.48837209302326,
 'piperPA-12': 73.83720930232558,
 'beech58': 52.10843373493976,
 'cessna170': 78.90946502057614,
 'cessna208B': 51.31054131054131,
 'piperPA-22-150': 75.0,
 'piperPA-24-250': 55.921052631578945,
 'piperPA-38-112': 70.39473684210526,
 'luscombe8A': 63.513513513513516,
 'piperPA-30': 64.41441441441442,
 'cessna208': 49.860810160105935,
 'beechC23': 66.90140845070422,
 'piperPA-28R-200': 63.33333333333333,
 'piperPA28R': 54.779411764705884,
 'cessna182Q': 61.19402985074627,
 'cessna120': 75.75757575757575,
 'cessnaA185': 81.06060606060606,
 'cessna177RG': 62.56410256410256,
 'piperJ3C-65': 60.0,
 'mooneyM20C': 35.15625,
 'cessna172K': 63.22751322751323,
 'cessna172RG': 84.92063492063492,
 'cessnaA188B': 69.35483870967742,
 'bellanca7GCBC': 58.19672131147541,
 'piperPA32': 58.19672131147541,
 'cessnaP210N': 51.80555555555556,
 'cessna182A': 66.045197740113,
 'piperPA-25-235': 50.86206896551724,
 'piperPA-32-300': 54.741379310344826,
 'piperPA 18-150': 67.24137931034483,
 'cessna150F': 47.36842105263158,
 'grummanG-164A': 71.05263157894737,
 'piperPA-31-350': 66.00877192982456,
 'cessnaR182': 67.26190476190476,
 'stinson108': 59.523809523809526,
 'beech35': 61.160714285714285,
 'cessnaT210N': 61.01190476190476,
 'cessnaT210M': 49.24242424242424,
 'cessnaU206': 51.851851851851855,
 'piperPA46': 58.679245283018865,
 'cessnaU206G': 54.00641025641026,
 'cessna150G': 62.745098039215684,
 'cessna185': 88.88888888888889,
 'cirrus design corpSR20': 55.16666666666667,
 'cessnaT210': 50.0,
 'mooneyM20E': 47.95918367346939,
 'piperPA-34-200T': 68.75,
 'piperPA22': 60.416666666666664,
 'piperPA-23-250': 56.737588652482266,
 'cessnaT210L': 64.8581560283688,
 'piperPA-32-260': 48.31306990881459,
 'mooneyM20F': 59.21985815602837,
 'luscombe8': 52.12765957446808,
 'piperPA-28-235': 53.40909090909091,
 'cessna150H': 56.81818181818182,
 'piperPA34': 38.63636363636363,
 'piperPA-32R-300': 44.166666666666664,
 'cessna172H': 64.43181818181819,
 'cessna170A': 77.51937984496125,
 'piperPA-22': 66.07142857142857,
 'piperPA-44-180': 73.41269841269842,
 'cessnaTR182': 71.82539682539682,
 'cessna177B': 58.333333333333336,
 'cessna206': 51.46341463414634,
 'boeing767': 89.99441601098009,
 'boeing777': 97.26860639228433,
 'beechV35B': 60.625,
 'cessna195': 86.66666666666666,
 'cessna150J': 48.33333333333333,
 'cessna310R': 47.33333333333333,
 'cessna175': 55.34188034188035,
 'beech200': 67.84696784696784,
 'champion7ECA': 55.12820512820513,
 'piperPA32R': 47.36842105263158,
 'piperPA-28-151': 66.57894736842105,
 'cessna207': 62.71929824561404,
 'cessna421C': 50.0,
 'boeing747': 93.85369589341948,
 'cessna182T': 79.72972972972973,
 'bellanca7ECA': 85.13513513513513,
 'taylorcraftBC12-D': 51.351351351351354,
 'piperPA 12': 85.13513513513513,
 'cessna172F': 55.85585585585585,
 'piperPA24': 62.5,
 'air tractorAT502': 33.333333333333336,
 'cessna172L': 70.37037037037038,
 'cessna310': 52.77777777777778,
 'beechV35': 41.42857142857143,
 'piperJ3C': 50.0,
 'piperPA-22-160': 81.9047619047619,
 'cessna180H': 80.95238095238096,
 'beechF33A': 61.42857142857143,
 'cessnaT206H': 56.372549019607845,
 'aeronca11AC': 65.15151515151516,
 'cessnaA188': 42.42424242424242,
 'piperPA-20': 89.39393939393939,
 'grummanG164': 57.57575757575758,
 'beech36': 78.125,
 'cessna180J': 89.0625,
 'piperPA-28': 58.072916666666664,
 'bellanca17-30A': 53.90625,
 'cessnaT182T': 74.19354838709677,
 'cessna340A': 48.38709677419355,
 'boeingA75N1(PT17)': 74.73118279569891,
 'piperPA 28-180': 54.166666666666664,
 'piperPA25': 13.333333333333334,
 'cessna421B': 48.5,
 'cessna550': 68.93939393939394,
 'piperPA 28-140': 43.333333333333336}

In [27]:
make_model_mean_percentuninj

,Max.Capacity,Percent.Serious.and.Fatal,Percent.Uninjured,Counts.Per.Model
Make.Model,,,,
cessna172,4,25.096279,67.526672,854
cessna152,3,16.535285,76.839339,444
cessna182,4,34.516129,57.424242,341
cessna172N,5,23.633441,67.111468,311
cessna172S,4,14.889706,80.575980,272
...,...,...,...,...
piperPA 28-180,4,35.833333,54.166667,30
piperPA25,2,86.666667,13.333333,30
cessna421B,10,39.277778,48.500000,30
cessna550,8,29.060606,68.939394,30
piperPA 28-140,4,36.666667,43.333333,30

In [28]:
#create a dictionary where the key is the make and model and the value is an x,y pair (x being times it appears in the dataset, y being mean percent uninured
count_vs_perc_uninj = dict_model_count
for index,model in enumerate(dict_model_count):
    count_vs_perc_uninj[model] = [count_vs_perc_uninj[model], list_perc_uninj[index]]

count_vs_perc_uninj

{'cessna172': [854, 67.52667187093417],
 'cessna152': [444, 76.83933933933933],
 'cessna182': [341, 57.42424242424243],
 'cessna172N': [311, 67.11146838156485],
 'cessna172S': [272, 80.57598039215686],
 'piperPA28': [267, 56.92883895131086],
 'cessna150': [252, 57.09561602418746],
 'cessna180': [237, 82.1237693389592],
 'piperPA-28-140': [229, 54.29403202328967],
 'cessna172M': [216, 60.60956790123456],
 'boeing737': [199, 88.85440754849549],
 'piperPA-18-150': [196, 76.53061224489795],
 'beechA36': [175, 45.76190476190476],
 'cessna172P': [166, 79.0160642570281],
 'cirrus design corpSR22': [144, 49.21296296296296],
 'piperPA-28-161': [140, 66.9047619047619],
 'cessna140': [131, 71.37404580152672],
 'piperPA-28-180': [129, 52.97157622739018],
 'cessna170B': [122, 76.70765027322405],
 'cessna210': [114, 57.01754385964912],
 'piperPA-28-181': [111, 71.18618618618619],
 'piperPA-18': [108, 75.0],
 'cessna172R': [107, 80.99688473520249],
 'mooneyM20J': [105, 52.460317460317455],
 'cessnaA185F': [104, 82.21153846153847],
 'cessna182P': [102, 58.13725490196079],
 'aeronca7AC': [100, 60.0],
 'cessna150M': [97, 65.97938144329896],
 'cessna150L': [96, 58.854166666666664],
 'cessna177': [95, 60.526315789473685],
 'cirrusSR22': [94, 50.88652482269503],
 'piperPA18': [86, 78.48837209302326],
 'piperPA-12': [86, 73.83720930232558],
 'beech58': [83, 52.10843373493976],
 'cessna170': [81, 78.90946502057614],
 'cessna208B': [78, 51.31054131054131],
 'piperPA-22-150': [76, 75.0],
 'piperPA-24-250': [76, 55.921052631578945],
 'piperPA-38-112': [76, 70.39473684210526],
 'luscombe8A': [74, 63.513513513513516],
 'piperPA-30': [74, 64.41441441441442],
 'cessna208': [71, 49.860810160105935],
 'beechC23': [71, 66.90140845070422],
 'piperPA-28R-200': [70, 63.33333333333333],
 'piperPA28R': [68, 54.779411764705884],
 'cessna182Q': [67, 61.19402985074627],
 'cessna120': [66, 75.75757575757575],
 'cessnaA185': [66, 81.06060606060606],
 'cessna177RG': [65, 62.56410256410256],
 'piperJ3C-65': [65, 60.0],
 'mooneyM20C': [64, 35.15625],
 'cessna172K': [63, 63.22751322751323],
 'cessna172RG': [63, 84.92063492063492],
 'cessnaA188B': [62, 69.35483870967742],
 'bellanca7GCBC': [61, 58.19672131147541],
 'piperPA32': [61, 58.19672131147541],
 'cessnaP210N': [60, 51.80555555555556],
 'cessna182A': [59, 66.045197740113],
 'piperPA-25-235': [58, 50.86206896551724],
 'piperPA-32-300': [58, 54.741379310344826],
 'piperPA 18-150': [58, 67.24137931034483],
 'cessna150F': [57, 47.36842105263158],
 'grummanG-164A': [57, 71.05263157894737],
 'piperPA-31-350': [57, 66.00877192982456],
 'cessnaR182': [56, 67.26190476190476],
 'stinson108': [56, 59.523809523809526],
 'beech35': [56, 61.160714285714285],
 'cessnaT210N': [56, 61.01190476190476],
 'cessnaT210M': [55, 49.24242424242424],
 'cessnaU206': [54, 51.851851851851855],
 'piperPA46': [53, 58.679245283018865],
 'cessnaU206G': [52, 54.00641025641026],
 'cessna150G': [51, 62.745098039215684],
 'cessna185': [51, 88.88888888888889],
 'cirrus design corpSR20': [50, 55.16666666666667],
 'cessnaT210': [50, 50.0],
 'mooneyM20E': [49, 47.95918367346939],
 'piperPA-34-200T': [48, 68.75],
 'piperPA22': [48, 60.416666666666664],
 'piperPA-23-250': [47, 56.737588652482266],
 'cessnaT210L': [47, 64.8581560283688],
 'piperPA-32-260': [47, 48.31306990881459],
 'mooneyM20F': [47, 59.21985815602837],
 'luscombe8': [47, 52.12765957446808],
 'piperPA-28-235': [44, 53.40909090909091],
 'cessna150H': [44, 56.81818181818182],
 'piperPA34': [44, 38.63636363636363],
 'piperPA-32R-300': [44, 44.166666666666664],
 'cessna172H': [44, 64.43181818181819],
 'cessna170A': [43, 77.51937984496125],
 'piperPA-22': [42, 66.07142857142857],
 'piperPA-44-180': [42, 73.41269841269842],
 'cessnaTR182': [42, 71.82539682539682],
 'cessna177B': [42, 58.333333333333336],
 'cessna206': [41, 51.46341463414634],
 'boeing767': [41, 89.99441601098009],
 'boeing777': [41, 97.26860639228433],
 'beechV35B': [40, 60.625],
 'cessna195': [40, 86.66666666666666],
 'cessna150J': [40, 48.33333333333333],
 'cessna310R': [40, 47.33333333333333],
 'cessna175': [39, 55.34188034188035],
 'beech200': [39, 67.84696784696784],
 'champion7ECA': [39, 55.12820512820513],
 'piperPA32R': [38, 47.36842105263158],
 'piperPA-28-151': [38, 66.57894736842105],
 'cessna207': [38, 62.71929824561404],
 'cessna421C': [38, 50.0],
 'boeing747': [37, 93.85369589341948],
 'cessna182T': [37, 79.72972972972973],
 'bellanca7ECA': [37, 85.13513513513513],
 'taylorcraftBC12-D': [37, 51.351351351351354],
 'piperPA 12': [37, 85.13513513513513],
 'cessna172F': [37, 55.85585585585585],
 'piperPA24': [36, 62.5],
 'air tractorAT502': [36, 33.333333333333336],
 'cessna172L': [36, 70.37037037037038],
 'cessna310': [36, 52.77777777777778],
 'beechV35': [35, 41.42857142857143],
 'piperJ3C': [35, 50.0],
 'piperPA-22-160': [35, 81.9047619047619],
 'cessna180H': [35, 80.95238095238096],
 'beechF33A': [35, 61.42857142857143],
 'cessnaT206H': [34, 56.372549019607845],
 'aeronca11AC': [33, 65.15151515151516],
 'cessnaA188': [33, 42.42424242424242],
 'piperPA-20': [33, 89.39393939393939],
 'grummanG164': [33, 57.57575757575758],
 'beech36': [32, 78.125],
 'cessna180J': [32, 89.0625],
 'piperPA-28': [32, 58.072916666666664],
 'bellanca17-30A': [32, 53.90625],
 'cessnaT182T': [31, 74.19354838709677],
 'cessna340A': [31, 48.38709677419355],
 'boeingA75N1(PT17)': [31, 74.73118279569891],
 'piperPA 28-180': [30, 54.166666666666664],
 'piperPA25': [30, 13.333333333333334],
 'cessna421B': [30, 48.5],
 'cessna550': [30, 68.93939393939394],
 'piperPA 28-140': [30, 43.333333333333336]}

In [29]:
df_trimmed.isna().sum()

Event.Id                        0
Investigation.Type              0
Event.Date                      0
Location                        2
Latitude                     2249
Longitude                    2251
Injury.Severity                 0
Aircraft.damage               240
Make                            0
Number.of.Engines             774
Engine.Type                  1459
Purpose.of.flight             997
Total.Fatal.Injuries            0
Total.Serious.Injuries          0
Total.Minor.Injuries            0
Total.Uninjured                 0
Weather.Condition             937
Broad.phase.of.flight        8328
Report.Status                1797
Num.Passenger                   0
Total.Injured                   0
Percent.Serious.and.Fatal       0
Percent.Uninjured               0
Make.Model                      0
Max.Capacity                    0
dtype: int64

In [30]:
make_model_mean_total_passenger = df_trimmed.pivot_table(index = ['Make.Model'], values = 'Num.Passenger', aggfunc = 'mean')

make_model_mean_total_passenger.sort_values(by = 'Num.Passenger', ascending = False, inplace = True)
make_model_mean_total_passenger.info

<bound method DataFrame.info of                   Num.Passenger
Make.Model
boeing777            208.609756
boeing767            140.975610
boeing737            111.216080
boeing747             81.378378
cessna208              5.873239
...                         ...
grummanG-164A          1.052632
cessnaA188             1.030303
air tractorAT502       1.027778
cessnaA188B            1.000000
piperPA25              1.000000

[140 rows x 1 columns]>

In [31]:
#narrow data to more then 30 incidents 


by_model_final_sub_20 = make_model_mean_percentuninj.loc[(make_model_mean_percentuninj['Counts.Per.Model'] > 30) & (make_model_mean_percentuninj['Max.Capacity'] <= 10)]


small_planes = by_model_final_sub_20['Percent.Serious.and.Fatal']
small_planes = small_planes.sort_values()
top_ten_small_planes_percmajor = list(small_planes.values)[:10]
top_ten_small_planes_model = list(small_planes.index)[:10]

by_model_final_over_20 = make_model_mean_percentuninj.loc[(make_model_mean_percentuninj['Counts.Per.Model'] > 30) & (make_model_mean_percentuninj['Max.Capacity'] > 10)]




#by_model_final_sub_20
#list_of_models_filtered = list(make_model_mean_percentuninj_filtered.index)
#perc_uninj_filtered = list(make_model_mean_percentuninj_filtered['Percent.Uninjured'])

In [32]:
make_model_mean_percentuninj['Max.Capacity'].value_counts()

Max.Capacity
4      41
6      27
5      22
2      18
3      10
7       6
1       5
10      4
8       3
126     1
292     1
442     1
539     1
Name: count, dtype: int64

In [33]:
by_model_final_over_20

,Max.Capacity,Percent.Serious.and.Fatal,Percent.Uninjured,Counts.Per.Model
Make.Model,,,,
boeing737,126,8.160443,88.854408,199
boeing767,292,8.428879,89.994416,41
boeing777,442,0.066079,97.268606,41
boeing747,539,6.093990,93.853696,37

In [34]:
#df that shows the relationship between different categorical variables and percent uninjuired

engine_num = df_trimmed.pivot_table(index = ['Number.of.Engines'], values = ['Percent.Uninjured', 'Percent.Serious.and.Fatal'] , aggfunc = 'mean')
engine_num.sort_values(by = 'Percent.Serious.and.Fatal', ascending = False, inplace = True)

engine_type = df_trimmed.pivot_table(index = ['Engine.Type'], values = ['Percent.Uninjured', 'Percent.Serious.and.Fatal'], aggfunc = 'mean')
engine_type.sort_values(by = 'Percent.Serious.and.Fatal', ascending = False, inplace = True)

purpose_of_flight = df_trimmed.pivot_table(index = ['Purpose.of.flight'], values = ['Percent.Uninjured', 'Percent.Serious.and.Fatal'], aggfunc = 'mean')
purpose_of_flight.sort_values(by = 'Percent.Serious.and.Fatal', ascending = False, inplace = True)

weather_condition = df_trimmed.pivot_table(index = ['Weather.Condition'], values = ['Percent.Uninjured', 'Percent.Serious.and.Fatal'], aggfunc = 'mean')
weather_condition.sort_values(by = 'Percent.Serious.and.Fatal', ascending = False, inplace = True)

broad_phase_of_flight = df_trimmed.pivot_table(index = ['Broad.phase.of.flight'], values = ['Percent.Uninjured', 'Percent.Serious.and.Fatal'], aggfunc = 'mean')
broad_phase_of_flight.sort_values(by = 'Percent.Serious.and.Fatal', inplace = True)

df_trimmed['Location']

17              SKWENTA, AK
18              GALETON, PA
20            YPSILANTI, MI
21            CHARLOTTE, MI
29       SAN CLEMENTINE, CA
                ...
90303      Fergus Falls, MN
90305             Yukon, OK
90316         Covington, GA
90324         Knoxville, TN
90332          San Juan, PR
Name: Location, Length: 11376, dtype: object

In [35]:
#cleaning location data to just US crashes

state_list = [ 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
           'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
           'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
           'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI', 'SC', 'SD', 'TN', 'TX',
              'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']


df_trimmed['Location'] = df_trimmed['Location'].str.upper()
df_trimmed['Location'] = df_trimmed['Location'].str[-2:]
df_trimmed

df_location = df_trimmed[df_trimmed['Location'].isin(state_list)]

df_location['Location'].value_counts()




location_of_flight = df_location.pivot_table(index = ['Location'], values = ['Percent.Uninjured', 'Percent.Serious.and.Fatal'], aggfunc = 'mean')
location_of_flight.sort_values(by = 'Percent.Serious.and.Fatal', inplace = True)
location_of_flight

          Percent.Serious.and.Fatal  Percent.Uninjured
Location
DC                         0.000000         100.000000
AK                        14.905459          79.065239
AZ                        16.628719          75.829194
ND                        19.366958          72.480165
MN                        20.361697          71.760343
FL                        21.522438          68.551744
MI                        21.728907          68.948824
MD                        21.914062          68.710938
ID                        21.995192          69.591346
KS                        22.011494          73.694581
MA                        22.076023          68.859649
WY                        22.325967          66.233530
WA                        22.463768          68.366778
NJ                        22.595078          64.821029
NV                        22.715054          69.892473
WI                        22.991968          64.538153
NE                        23.095238          65.714286
IN                        24.399225          63.468992
CT                        24.572650          65.384615
OH                        24.723539          64.668246
VA                        24.943182          68.425102
DE                        25.000000          70.833333
RI                        25.000000          73.333333
NH                        25.000000          61.363636
MO                        25.026596          66.276596
MT                        25.111857          65.659955
AR                        25.252525          63.106061
PA                        25.804777          64.252336
ME                        26.239837          66.463415
TX                        26.244184          62.578095
GA                        26.655405          64.752252
VT                        26.666667          68.333333
AL                        26.954939          60.447772
NC                        27.056738          63.546099
OK                        27.577519          62.994186
OR                        27.625571          64.992390
KY                        28.279570          58.781362
MS                        28.926282          62.820513
NY                        29.005433          62.180808
NM                        29.012346          63.950617
CA                        29.041811          60.702908
UT                        29.388186          61.666667
SC                        30.373134          63.221393
WV                        30.769231          43.269231
TN                        30.964194          55.193914
SD                        31.818182          65.530303
IL                        32.584512          58.058346
CO                        32.924532          60.809343
PR                        35.025484          55.504587
HI                        37.429900          53.115508
LA                        39.179977          52.555867
IA                        40.734847          50.918164

In [37]:
#looking at the percent uninjured data my make and model
make_model_mean_percentuninj.sort_values(by = 'Percent.Serious.and.Fatal', inplace = True)
make_model_mean_percentuninj

,Max.Capacity,Percent.Serious.and.Fatal,Percent.Uninjured,Counts.Per.Model
Make.Model,,,,
boeing777,442,0.066079,97.268606,41
cessna180J,6,3.125000,89.062500,32
piperPA-20,4,6.060606,89.393939,33
boeing747,539,6.093990,93.853696,37
cessna180H,6,6.476190,80.952381,35
...,...,...,...,...
cessna421C,8,49.122807,50.000000,38
beechV35,4,52.000000,41.428571,35
piperPA34,7,57.175325,38.636364,44
air tractorAT502,2,61.111111,33.333333,36
piperPA25,2,86.666667,13.333333,30

In [38]:
engine_type

               Percent.Serious.and.Fatal  Percent.Uninjured
Engine.Type
Turbo Jet                      63.636364          36.363636
Unknown                        46.438095          53.485714
Turbo Prop                     38.805153          55.733252
Turbo Shaft                    33.333333          33.333333
Reciprocating                  24.176204          66.701063
Turbo Fan                       9.682887          89.415767
UNK                             0.000000           0.000000

In [39]:
engine_num

                   Percent.Serious.and.Fatal  Percent.Uninjured
Number.of.Engines
2.0                                30.873148          65.546574
1.0                                24.508043          65.909508
4.0                                 5.105251          94.851804

In [40]:
purpose_of_flight

                           Percent.Serious.and.Fatal  Percent.Uninjured
Purpose.of.flight
ASHO                                      100.000000           0.000000
Air Race show                              58.333333          41.666667
Banner Tow                                 47.959184          47.959184
Aerial Observation                         46.212121          44.191919
Unknown                                    41.497392          48.583560
Glider Tow                                 37.500000          54.166667
Public Aircraft - Local                    37.500000          62.500000
Public Aircraft                            35.714286          64.285714
Aerial Application                         34.905660          53.773585
Executive/corporate                        32.037037          61.111111
Positioning                                31.542056          60.747664
Skydiving                                  29.206820          65.666598
Business                                   28.849951          61.994135
Other Work Use                             26.959064          54.561404
Personal                                   26.679097          63.218943
Flight Test                                26.000000          70.000000
Public Aircraft - State                    20.833333          75.000000
Ferry                                      20.000000          66.000000
Instructional                              15.045814          78.420221
Public Aircraft - Federal                   6.944444          76.388889
Air Drop                                    0.000000         100.000000
PUBS                                        0.000000          66.666667

In [41]:
weather_condition

                   Percent.Serious.and.Fatal  Percent.Uninjured
Weather.Condition
IMC                                66.797131          23.951785
Unk                                56.372597          35.579600
UNK                                37.500000          48.437500
VMC                                21.970551          68.789256

In [42]:
broad_phase_of_flight

                       Percent.Serious.and.Fatal  Percent.Uninjured
Broad.phase.of.flight
Taxi                                    1.349206          95.912698
Landing                                 2.072997          90.198175
Standing                               12.307692          74.871795
Takeoff                                14.875445          69.501779
Go-around                              16.515152          65.965909
Descent                                22.194093          56.253767
Other                                  25.000000          37.500000
Approach                               26.539855          51.835749
Cruise                                 31.219418          52.133295
Climb                                  39.473684          41.228070
Maneuvering                            47.138470          36.909548
Unknown                                75.000000          17.187500

In [43]:
#converting to csv to work on in tableau
df_trimmed.to_csv('../data/final_data.csv')

In [44]:
df_trimmed['Make.Model'].value_counts()

Make.Model
cessna172         854
cessna152         444
cessna182         341
cessna172N        311
cessna172S        272
                 ...
piperPA 28-180     30
piperPA25          30
cessna421B         30
cessna550          30
piperPA 28-140     30
Name: count, Length: 140, dtype: int64

In [45]:
location_of_flight.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52 entries, DC to IA
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Percent.Serious.and.Fatal  52 non-null     float64
 1   Percent.Uninjured          52 non-null     float64
dtypes: float64(2)
memory usage: 1.2+ KB

In [46]:
#looking at phase of flight serious and fatal injury rate for boeings
df_boeing = df_trimmed[df_trimmed['Make'] == 'boeing']

broad_phase_of_flight_boeing = df_boeing.pivot_table(index = ['Broad.phase.of.flight'], values = ['Percent.Uninjured', 'Percent.Serious.and.Fatal'], aggfunc = 'mean')
broad_phase_of_flight_boeing.sort_values(by = 'Percent.Serious.and.Fatal', inplace = True)
broad_phase_of_flight_boeing

                       Percent.Serious.and.Fatal  Percent.Uninjured
Broad.phase.of.flight
Standing                                0.000000         100.000000
Takeoff                                 0.000000           0.000000
Taxi                                    0.000000         100.000000
Cruise                                  0.460829          99.539171
Descent                               100.000000           0.000000

In [47]:
#looking at phase of flight serious and fatal injury rate for the Cessna 180J
df_cessna180J = df_trimmed[df_trimmed['Make.Model'] == 'cessna180J']

broad_phase_of_flight_cessna180J = df_cessna180J.pivot_table(index = ['Broad.phase.of.flight'], values = ['Percent.Uninjured', 'Percent.Serious.and.Fatal'], aggfunc = 'mean')
broad_phase_of_flight_cessna180J.sort_values(by = 'Percent.Serious.and.Fatal', inplace = True)
broad_phase_of_flight_cessna180J

                       Percent.Serious.and.Fatal  Percent.Uninjured
Broad.phase.of.flight
Approach                                     0.0              100.0
Landing                                      0.0               70.0
Takeoff                                      0.0              100.0

In [48]:
#looking at phase of flight serious and fatal injury rate for the Cessna 180H
df_cessna180H = df_trimmed[df_trimmed['Make.Model'] == 'cessna180H']

broad_phase_of_flight_cessna180H = df_cessna180H.pivot_table(index = ['Broad.phase.of.flight'], values = ['Percent.Uninjured', 'Percent.Serious.and.Fatal'], aggfunc = 'mean')
broad_phase_of_flight_cessna180H.sort_values(by = 'Percent.Serious.and.Fatal', inplace = True)
broad_phase_of_flight_cessna180H

                       Percent.Serious.and.Fatal  Percent.Uninjured
Broad.phase.of.flight
Cruise                                       0.0           0.000000
Landing                                      0.0          66.666667
Taxi                                         0.0         100.000000
Takeoff                                     12.0          40.000000

In [49]:
#looking at phase of flight serious and fatal injury rate for the piper PA 20
df_piperPA = df_trimmed[df_trimmed['Make.Model'] == 'piperPA-20']

broad_phase_of_flight_piperPA = df_piperPA.pivot_table(index = ['Broad.phase.of.flight'], values = ['Percent.Uninjured', 'Percent.Serious.and.Fatal'], aggfunc = 'mean')
broad_phase_of_flight_piperPA.sort_values(by = 'Percent.Serious.and.Fatal', inplace = True)
broad_phase_of_flight_piperPA

                       Percent.Serious.and.Fatal  Percent.Uninjured
Broad.phase.of.flight
Landing                                      0.0              100.0
Maneuvering                                  0.0              100.0
Takeoff                                      0.0              100.0
Taxi                                         0.0              100.0
Cruise                                     100.0                0.0